.product-img{
    height: 200px;
}
.product-card{
    width: 260px;
    padding: 10px;
    border-radius: 4px;
    margin: 20px;
    float: left;
}
.categories{
    font-size: 14px;
    font-weight: 400;
    color: gray;
}
.product-title{
    font-size: 16px;
    color: grey;
}